* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-fluid {
  width: 100%;
  padding: 0;
}
.navbar {
  background-color: #ff0500;
}

.btn-sub {
  height: 25px;
  line-height: 1;
}
.nav-btns {
  margin-top: 1%;
  margin-bottom: 1%;
}

main {
  margin-top: 5%;
}
.main-img {
  position: relative;
}
.corner-txt {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2px 7px;
}

p {
  font-size: 14px;
}

.debate-item-1 {
  border-top: 3px solid #d9d9d9;
}

.debate-item-2 {
  border-bottom: 3px solid #d9d9d9;
}

.debate-item img {
  height: 75px;
}

.vs {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  position: absolute;
  left: 40%;
  top: -14px;
}

.separator {
  height: 3px;
  border: 1px #e3e3e3;
  border-style: solid none;
  position: relative;
}

.More-Stories {
  margin-top: 8%;
}

.more-stories-flex {
  margin-top: 5%;
  border-top: 1px solid #ddd;
  padding: 5%;
}

.more-stories-flex img {
  float: left;
  margin-right: 5%;
}

.more-stories-flex p {
  float: right;
}

.my-turn span {
  background-color: #c2d4d7;
  font-size: 13px;
}

.form-group {
  width: 50%;
  margin: auto;
}
.N {
  width: 70px;
  height: 30px;
  line-height: 30px;
  background-color: #ff0500;
}

.form button {
  background-color: #ff0500;
}

.form h6 {
  font-size: 14px;
}